@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
body{
    background-color: #282a36;
    color: #f8f8f2;
    font-family: Roboto, sans-serif;
}
h1{
    font-family: 'Press Start 2P', Roboto, sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    padding: 1em auto;
}
img{
    width: 150px;
    height: auto;
}
.score-board{
    font-family: 'Press Start 2P';
    border: 3px solid #bd93f9;
    border-radius: 5px;
    max-width: 500px;
    margin: 32px auto 50px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.score-board h2{
    text-align: center;
    font-size: 36px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.barrier{
    border-left: 3px solid #bd93f9;
}
.player,
.computer{
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
}

